<div class="home">
  <h1 class="text-center mt-3"><b>Weather App</b></h1>

  <div class="container mt-5">
    <div class="row d-flex justify-content-center mb-3">
      <div class="col-md-6">
        <input
          type="text"
          class="form-control"
          placeholder="Enter Your City Here"
          (keyup)="search($event)"
        />
      </div>
    </div>

    <div class="d-flex flex-row justify-content-center">
      <div class="p-2 m-3">
        <img src="https://openweathermap.org/img/wn/{{ icon }}@2x.png" alt="" />
      </div>
      <div class="text-center p-2 mt-3">
        <span>{{ place }}</span>
        <h1>
          <b>{{ temp }}</b>
        </h1>
        <h3>{{ weather }}</h3>
      </div>
      <div class="p-2 m-3">
        <img src="https://openweathermap.org/img/wn/{{ icon }}@2x.png" alt="" />
      </div>
    </div>
  </div>
</div>
